<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-list" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-list feature-list--{data.layout -> f:or(alternative: 'two-columns')}">
    <s2f:layout.container>
        <f:if condition="{data.eyebrow} || {data.header} || {data.subheadline}">
            <header class="feature-list__intro">
                <f:if condition="{data.eyebrow}"><span class="feature-list__eyebrow">{data.eyebrow}</span></f:if>
                <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
                <f:if condition="{data.subheadline}"><s2f:typography.text variant="muted">{data.subheadline}</s2f:typography.text></f:if>
            </header>
        </f:if>

        <div class="feature-list__items">
            <f:for each="{data.items}" as="item">
                <s2f:molecule.card class="feature-list__item">
                    <div class="feature-list__icon">{item.icon -> f:or(alternative: '&#8226;')}</div>
                    <div class="feature-list__copy">
                        <h3 class="feature-list__title">{item.title}</h3>
                        <f:if condition="{item.description}">
                            <p class="feature-list__description">{item.description}</p>
                        </f:if>
                    </div>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
