<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.script identifier="shadcn2fluid-chart" src="{cb:assetPath()}/chart.js"/>

<f:variable name="chartId" value="chart-{data.uid}"/>
<f:variable name="heightClass" value="shadcn-chart__canvas--{data.chart_height -> f:or(alternative: 'medium')}"/>
<f:variable name="showGridValue">{f:if(condition: data.show_grid, then: 'true', else: 'false')}</f:variable>
<f:variable name="fillTypeValue">{data.fill_type -> f:or(alternative: 'gradient')}</f:variable>

<div class="shadcn-chart shadcn-chart--{data.color_variant -> f:or(alternative: 'primary')}"
     data-chart-data="{data.chart_data -> f:format.htmlspecialchars()}"
     data-show-grid="{showGridValue}"
     data-fill-type="{fillTypeValue}"
     data-chart-id="{chartId}">

    <div class="shadcn-card shadcn-chart__card">
        <f:if condition="{data.title} || {data.description}">
            <div class="shadcn-card__header shadcn-chart__header">
                <f:if condition="{data.title}">
                    <h3 class="shadcn-card__title">{data.title}</h3>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="shadcn-card__description">{data.description}</p>
                </f:if>
            </div>
        </f:if>

        <div class="shadcn-card__content">
            <div class="shadcn-chart__wrapper">
                <f:if condition="{data.y_axis_label}">
                    <div class="shadcn-chart__y-label">
                        <span>{data.y_axis_label}</span>
                    </div>
                </f:if>

                <div class="shadcn-chart__canvas-wrapper">
                    <svg class="shadcn-chart__canvas {heightClass}"
                         id="{chartId}">
                        <!-- Chart will be rendered by JavaScript -->
                    </svg>

                    <!-- Tooltip -->
                    <div class="shadcn-chart__tooltip" style="display: none;">
                        <div class="shadcn-chart__tooltip-label"></div>
                        <div class="shadcn-chart__tooltip-value"></div>
                    </div>
                </div>

                <f:if condition="{data.x_axis_label}">
                    <div class="shadcn-chart__x-label">
                        <span>{data.x_axis_label}</span>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</div>

</html>
