<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav class="shadcn-navbar shadcn-navbar--{data.layout -> f:or(alternative: 'full-width')}" aria-label="Main navigation">
    <div class="shadcn-navbar__container">
        <div class="shadcn-navbar__brand">
            <f:if condition="{data.brand_link.url}">
                <f:then>
                    <f:link.typolink parameter="{data.brand_link}" class="shadcn-navbar__brand-link">{data.brand}</f:link.typolink>
                </f:then>
                <f:else>
                    <span class="shadcn-navbar__brand-link">{data.brand}</span>
                </f:else>
            </f:if>
        </div>

        <f:if condition="{data.nav_items}">
            <ul class="shadcn-navbar__nav">
                <f:for each="{data.nav_items}" as="item">
                    <li class="shadcn-navbar__nav-item">
                        <f:if condition="{item.link.url}">
                            <f:then>
                                <f:link.typolink parameter="{item.link}" class="shadcn-navbar__nav-link">{item.label}</f:link.typolink>
                            </f:then>
                            <f:else>
                                <span class="shadcn-navbar__nav-link">{item.label}</span>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </f:if>

        <div class="shadcn-navbar__actions">
            <f:if condition="{data.secondary_button_text} && {data.secondary_button_link.url}">
                <f:render partial="Components/Button" arguments="{link: data.secondary_button_link, text: data.secondary_button_text, variant: 'ghost'}"/>
            </f:if>
            <f:if condition="{data.primary_button_text} && {data.primary_button_link.url}">
                <f:render partial="Components/Button" arguments="{link: data.primary_button_link, text: data.primary_button_text, size: 'sm'}"/>
            </f:if>
        </div>
    </div>
</nav>

</html>
