<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-social-links" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="social-links">
    <s2f:layout.container>
        <div class="social-links__content">
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</s2f:atom.typography></f:if>
            <f:if condition="{data.description_text}"><s2f:atom.typography variant="muted">{data -> f:render.text(field: 'description_text')}</s2f:atom.typography></f:if>
            <div class="social-links__list">
                <f:for each="{data.link_items}" as="link">
                    <f:if condition="{link.url.url}">
                        <f:link.typolink parameter="{link.url}" class="social-links__item">{link -> f:render.text(field: 'platform')}</f:link.typolink>
                    </f:if>
                </f:for>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
