<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-office-locations" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="office-locations">
    <s2f:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="office-locations__intro">
                <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
                <f:if condition="{data.subheadline}"><s2f:typography.text variant="muted">{data.subheadline}</s2f:typography.text></f:if>
            </header>
        </f:if>

        <div class="office-locations__grid">
            <f:for each="{data.locations}" as="loc">
                <s2f:molecule.card class="office-locations__item">
                    <h3 class="office-locations__city">{loc.city}</h3>
                    <f:if condition="{loc.address}"><p class="office-locations__address">{loc.address}</p></f:if>
                    <f:if condition="{loc.phone}"><p class="office-locations__phone">{loc.phone}</p></f:if>
                    <f:if condition="{loc.email}"><p class="office-locations__email">{loc.email}</p></f:if>
                    <f:if condition="{loc.map_link.url}">
                        <s2f:atom.button link="{loc.map_link}" variant="outline" size="sm">View on map</s2f:atom.button>
                    </f:if>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
