<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-team-department" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="team-department">
    <s2f:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="team-department__intro">
                <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
                <f:if condition="{data.subheadline}"><s2f:typography.text variant="muted">{data.subheadline}</s2f:typography.text></f:if>
            </header>
        </f:if>

        <f:for each="{data.department_items}" as="dept">
            <div class="team-department__group">
                <h3 class="team-department__dept-name">{dept.name}</h3>
                <div class="team-department__grid">
                    <f:for each="{dept.members}" as="member">
                        <s2f:molecule.card class="team-department__member">
                            <f:if condition="{member.image}">
                                <div class="team-department__image-wrapper">
                                    <f:for each="{member.image}" as="fileReference">
                                        <img src="{f:uri.image(image: fileReference, maxWidth: 320)}" alt="{member.name}" class="team-department__image"/>
                                    </f:for>
                                </div>
                            </f:if>
                            <div class="team-department__content">
                                <h4 class="team-department__name">{member.name}</h4>
                                <f:if condition="{member.role}"><p class="team-department__role">{member.role}</p></f:if>
                            </div>
                        </s2f:molecule.card>
                    </f:for>
                </div>
            </div>
        </f:for>
    </s2f:layout.container>
</s2f:layout.section>

</html>
