<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-certifications" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="certifications">
    <s2f:layout.container>
        <f:if condition="{data.eyebrow} || {data.header} || {data.subheadline}">
            <header class="certifications__intro">
                <f:if condition="{data.eyebrow}">
                    <span class="certifications__eyebrow">{data.eyebrow}</span>
                </f:if>
                <f:if condition="{data.header}">
                    <h2 class="certifications__headline">{data.header}</h2>
                </f:if>
                <f:if condition="{data.subheadline}">
                    <p class="certifications__description">{data.subheadline}</p>
                </f:if>
            </header>
        </f:if>

        <div class="certifications__grid">
            <f:for each="{data.certifications}" as="cert">
                <article class="certifications__item">
                    <f:if condition="{cert.badge}">
                        <div class="certifications__badge">
                            <f:for each="{cert.badge}" as="fileReference">
                                <img src="{f:uri.image(image: fileReference, maxWidth: 100)}" alt="{cert.name}" class="certifications__badge-img"/>
                            </f:for>
                        </div>
                    </f:if>
                    <h3 class="certifications__name">{cert.name}</h3>
                    <f:if condition="{cert.issuer}">
                        <span class="certifications__issuer">{cert.issuer}</span>
                    </f:if>
                    <f:if condition="{cert.description}">
                        <p class="certifications__cert-description">{cert.description}</p>
                    </f:if>
                    <f:if condition="{cert.link.url}">
                        <f:link.typolink parameter="{cert.link}" class="certifications__link">
                            Verify &rarr;
                        </f:link.typolink>
                    </f:if>
                </article>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>
</html>
