<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-search-header" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="search-header">
    <s2f:layout.container>
        <header class="search-header__intro">
            <f:if condition="{data.eyebrow}">
                <span class="search-header__eyebrow">{data.eyebrow}</span>
            </f:if>
            <f:if condition="{data.header}">
                <h2 class="search-header__headline">{data.header}</h2>
            </f:if>
            <f:if condition="{data.subheadline}">
                <p class="search-header__description">{data.subheadline}</p>
            </f:if>
        </header>
        <div class="search-header__body">
            <form class="search-header__form" action="{data.form_action.url}" method="get">
                <input class="search-header__input" type="search" name="q" placeholder="{data.placeholder -> f:or(alternative: 'Search...')}" />
                <s2f:atom.button type="submit">{data.button_text -> f:or(alternative: 'Search')}</s2f:atom.button>
            </form>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
