<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-sitemap-grid" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="sitemap-grid-section">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <h2 class="sitemap-grid__title">{data.header}</h2>
        </f:if>
        <div class="sitemap-grid__grid sitemap-grid__grid--cols-{data.columns -> f:or(alternative: '4')}">
            <f:for each="{data.groups}" as="group">
                <div class="sitemap-grid__group">
                    <h3 class="sitemap-grid__group-title">{group.title}</h3>
                    <ul class="sitemap-grid__links">
                        <f:for each="{group.pages}" as="page">
                            <li>
                                <f:if condition="{page.link}">
                                    <f:then><f:link.typolink parameter="{page.link}" class="sitemap-grid__link">{page.label}</f:link.typolink></f:then>
                                    <f:else><span class="sitemap-grid__link">{page.label}</span></f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
