<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-mega-menu" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="mega-menu mega-menu--{data.layout -> f:or(alternative: 'full-width')}">
    <s2f:layout.container>
        <nav class="mega-menu__inner" aria-label="Mega menu">
            <div class="mega-menu__header">
                <div class="mega-menu__brand">
                    <f:if condition="{data.brand_link.url}">
                        <f:then>
                            <f:link.typolink parameter="{data.brand_link}" class="mega-menu__brand-link">{data.brand}</f:link.typolink>
                        </f:then>
                        <f:else>
                            <span class="mega-menu__brand-link">{data.brand}</span>
                        </f:else>
                    </f:if>
                </div>
                <f:if condition="{data.primary_button_text} && {data.primary_button_link.url}">
                    <s2f:atom.button link="{data.primary_button_link}" size="sm">{data.primary_button_text}</s2f:atom.button>
                </f:if>
            </div>

            <div class="mega-menu__panel">
                <aside class="mega-menu__intro">
                    <f:if condition="{data.intro_title}">
                        <h2 class="mega-menu__intro-title">{data.intro_title}</h2>
                    </f:if>
                    <f:if condition="{data.intro_text}">
                        <p class="mega-menu__intro-text">{data.intro_text}</p>
                    </f:if>
                </aside>

                <div class="mega-menu__groups">
                    <f:for each="{data.menu_groups}" as="group">
                        <section class="mega-menu__group">
                            <h3 class="mega-menu__group-title">{group.title}</h3>
                            <f:if condition="{group.description}">
                                <p class="mega-menu__group-desc">{group.description}</p>
                            </f:if>
                            <ul class="mega-menu__links">
                                <f:for each="{group.link_items}" as="item">
                                    <li class="mega-menu__link-item">
                                        <f:if condition="{item.link.url}">
                                            <f:then>
                                                <f:link.typolink parameter="{item.link}" class="mega-menu__link">
                                                    <span class="mega-menu__link-label">{item.label}</span>
                                                    <f:if condition="{item.detail}">
                                                        <span class="mega-menu__link-detail">{item.detail}</span>
                                                    </f:if>
                                                </f:link.typolink>
                                            </f:then>
                                            <f:else>
                                                <span class="mega-menu__link">
                                                    <span class="mega-menu__link-label">{item.label}</span>
                                                    <f:if condition="{item.detail}">
                                                        <span class="mega-menu__link-detail">{item.detail}</span>
                                                    </f:if>
                                                </span>
                                            </f:else>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </section>
                    </f:for>
                </div>
            </div>
        </nav>
    </s2f:layout.container>
</s2f:layout.section>

</html>
