<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-footer-minimal" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-minimal">
    <s2f:layout.container>
        <div class="footer-minimal__inner">
            <p class="footer-minimal__copyright">{data -> f:render.text(field: 'copyright')}</p>
            <f:if condition="{data.link_items}">
                <nav aria-label="Footer links">
                    <ul class="footer-minimal__links">
                        <f:for each="{data.link_items}" as="item">
                            <li>
                                <f:if condition="{item.link}">
                                    <f:then><f:link.typolink parameter="{item.link}" class="footer-minimal__link">{item -> f:render.text(field: 'label')}</f:link.typolink></f:then>
                                    <f:else><span class="footer-minimal__link">{item -> f:render.text(field: 'label')}</span></f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </f:if>
        </div>
    </s2f:layout.container>
</footer>

</html>
