<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-numbered" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-numbered">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <header class="feature-numbered__intro">
                <s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography>
                <f:if condition="{data.subheadline}"><s2f:atom.typography variant="muted">{data.subheadline}</s2f:atom.typography></f:if>
            </header>
        </f:if>

        <div class="feature-numbered__grid">
            <f:for each="{data.items}" as="item" iteration="iter">
                <div class="feature-numbered__item">
                    <span class="feature-numbered__number" aria-hidden="true">{f:format.padding(padLength: 2, padString: '0')}{iter.cycle}</span>
                    <h3 class="feature-numbered__title">{item.title}</h3>
                    <f:if condition="{item.description}">
                        <p class="feature-numbered__description">{item.description}</p>
                    </f:if>
                </div>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
