<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-article-grid" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="article-grid">
    <s2f:layout.container>
        <header class="article-grid__intro">
            <f:if condition="{data.eyebrow}"><span class="article-grid__eyebrow">{data.eyebrow}</span></f:if>
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
        </header>
        <div class="article-grid__grid">
            <f:for each="{data.items}" as="item">
                <s2f:molecule.card class="article-grid__item">
                    <f:if condition="{item.category}"><p class="article-grid__category">{item.category}</p></f:if>
                    <h3 class="article-grid__title">{item.title}</h3>
                    <p class="article-grid__description">{item.description}</p>
                    <f:if condition="{item.link.url}">
                        <f:link.typolink parameter="{item.link}" class="article-grid__link">Read more</f:link.typolink>
                    </f:if>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
