<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-callout" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="callout-section">
    <s2f:layout.container>
        <div class="callout callout--{data.variant -> f:or(alternative: 'info')}" role="alert">
            <f:if condition="{data.header}">
                <h3 class="callout__title">{data.header}</h3>
            </f:if>
            <div class="callout__content">
                <f:format.html>{data.content}</f:format.html>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
