<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-waitlist-signup" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="waitlist-signup">
    <s2f:layout.container>
        <div class="waitlist-signup__content">
            <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
            <f:if condition="{data.description}"><s2f:typography.text variant="muted">{data.description}</s2f:typography.text></f:if>
            <form class="waitlist-signup__form" action="{data.form_action.url}" method="post">
                <input class="waitlist-signup__input" type="email" name="email" placeholder="Enter your email" required="required"/>
                <s2f:atom.button type="submit" size="lg">{data.button_text -> f:or(alternative: 'Join the waitlist')}</s2f:atom.button>
            </form>
            <f:if condition="{data.count_text}">
                <p class="waitlist-signup__count">{data.count_text}</p>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
