<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-counter" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="counter-section">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <h2 class="counter__headline">{data.header}</h2>
        </f:if>
        <div class="counter__grid counter__grid--cols-{data.columns -> f:or(alternative: '3')}">
            <f:for each="{data.items}" as="item">
                <div class="counter__item" data-target="{item.target_value}">
                    <div class="counter__value">
                        <f:if condition="{item.prefix}">
                            <span class="counter__prefix">{item.prefix}</span>
                        </f:if>
                        <span class="counter__number">0</span>
                        <f:if condition="{item.suffix}">
                            <span class="counter__suffix">{item.suffix}</span>
                        </f:if>
                    </div>
                    <div class="counter__label">{item.label}</div>
                </div>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
