<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-product-feature" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="product-feature">
    <s2f:layout.container>
        <div class="product-feature__layout">
            <f:if condition="{data.image}">
                <div class="product-feature__media">
                    <f:for each="{data.image}" as="fileReference">
                        <img src="{f:uri.image(image: fileReference, maxWidth: 640)}" alt="{data.header}" class="product-feature__image"/>
                    </f:for>
                </div>
            </f:if>

            <div class="product-feature__content">
                <f:if condition="{data.eyebrow}">
                    <span class="product-feature__eyebrow">{data.eyebrow}</span>
                </f:if>
                <f:if condition="{data.header}">
                    <h2 class="product-feature__headline">{data.header}</h2>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="product-feature__description">{data.description}</p>
                </f:if>
                <f:if condition="{data.features}">
                    <ul class="product-feature__list">
                        <f:for each="{data.features -> f:split(separator: '\n')}" as="feature">
                            <f:if condition="{feature}">
                                <li class="product-feature__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M20 6 9 17l-5-5"/></svg>
                                    <span>{feature}</span>
                                </li>
                            </f:if>
                        </f:for>
                    </ul>
                </f:if>
                <f:if condition="{data.button_text} && {data.button_link.url}">
                    <f:link.typolink parameter="{data.button_link}" class="product-feature__button">
                        {data.button_text}
                    </f:link.typolink>
                </f:if>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>
</html>
