<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-imprint" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="imprint-section">
    <s2f:layout.container>
        <div class="imprint">
            <f:if condition="{data.header}">
                <h2 class="imprint__title">{data.header}</h2>
            </f:if>
            <div class="imprint__grid">
                <div class="imprint__block">
                    <h3 class="imprint__label">Company</h3>
                    <p class="imprint__value">{data.company_name}</p>
                    <f:if condition="{data.address}">
                        <p class="imprint__value imprint__address">{data.address}</p>
                    </f:if>
                </div>
                <f:if condition="{data.contact_email} || {data.contact_phone}">
                    <div class="imprint__block">
                        <h3 class="imprint__label">Contact</h3>
                        <f:if condition="{data.contact_email}">
                            <p class="imprint__value"><a href="mailto:{data.contact_email}">{data.contact_email}</a></p>
                        </f:if>
                        <f:if condition="{data.contact_phone}">
                            <p class="imprint__value"><a href="tel:{data.contact_phone}">{data.contact_phone}</a></p>
                        </f:if>
                    </div>
                </f:if>
                <f:if condition="{data.registry_info} || {data.vat_id}">
                    <div class="imprint__block">
                        <h3 class="imprint__label">Legal</h3>
                        <f:if condition="{data.registry_info}">
                            <p class="imprint__value">{data.registry_info}</p>
                        </f:if>
                        <f:if condition="{data.vat_id}">
                            <p class="imprint__value">VAT: {data.vat_id}</p>
                        </f:if>
                    </div>
                </f:if>
            </div>
            <f:if condition="{data.additional_info}">
                <div class="imprint__additional">
                    <f:format.html>{data.additional_info}</f:format.html>
                </div>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
