<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-founder-quote" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="founder-quote">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <header class="founder-quote__intro">
                <s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography>
            </header>
        </f:if>

        <div class="founder-quote__card">
            <f:if condition="{data.image}">
                <div class="founder-quote__image-wrapper">
                    <f:for each="{data.image}" as="fileReference">
                        <img src="{f:uri.image(image: fileReference, width: 120, height: 120)}" alt="{data.name}" class="founder-quote__image"/>
                    </f:for>
                </div>
            </f:if>
            <blockquote class="founder-quote__text">{data.quote}</blockquote>
            <div class="founder-quote__author">
                <f:if condition="{data.name}"><cite class="founder-quote__name">{data.name}</cite></f:if>
                <f:if condition="{data.title}"><span class="founder-quote__title">{data.title}</span></f:if>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
