<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-navbar-stacked" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="navbar-stacked">
    <s2f:layout.container>
        <nav class="navbar-stacked__inner" aria-label="Stacked navigation">
            <div class="navbar-stacked__top">
                <div class="navbar-stacked__brand">
                    <f:if condition="{data.brand_link.url}">
                        <f:then><f:link.typolink parameter="{data.brand_link}" class="navbar-stacked__brand-link">{data.brand}</f:link.typolink></f:then>
                        <f:else><span class="navbar-stacked__brand-link">{data.brand}</span></f:else>
                    </f:if>
                    <f:if condition="{data.tagline}">
                        <span class="navbar-stacked__tagline">{data.tagline}</span>
                    </f:if>
                </div>
                <f:if condition="{data.button_text} && {data.button_link.url}">
                    <s2f:atom.button link="{data.button_link}" size="sm">{data.button_text}</s2f:atom.button>
                </f:if>
            </div>
            <div class="navbar-stacked__bottom">
                <ul class="navbar-stacked__nav">
                    <f:for each="{data.nav_items}" as="item">
                        <li><f:if condition="{item.link.url}"><f:link.typolink parameter="{item.link}" class="navbar-stacked__link">{item.label}</f:link.typolink></f:if></li>
                    </f:for>
                </ul>
            </div>
        </nav>
    </s2f:layout.container>
</s2f:layout.section>

</html>
