<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:for each="{data.media}" as="fileReference">
    <f:switch expression="{fileReference.type}">
        <f:case value="2">
            <f:comment><!-- Image --></f:comment>
            <img src="{f:uri.image(image: fileReference, maxWidth: 800)}" 
                 alt="{fileReference.alternative}" 
                 class="{mediaClasses}" />
        </f:case>
        <f:case value="4">
            <f:comment><!-- Video --></f:comment>
            <video controls class="{mediaClasses}">
                <source src="{fileReference.publicUrl}" type="{fileReference.mimeType}">
                Your browser does not support the video tag.
            </video>
        </f:case>
        <f:defaultCase>
            <f:comment><!-- Fallback to image --></f:comment>
            <img src="{f:uri.image(image: fileReference, maxWidth: 800)}" 
                 alt="{fileReference.alternative}" 
                 class="{mediaClasses}" />
        </f:defaultCase>
    </f:switch>
</f:for>

</html>
