<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-card" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="card-section">
    <s2f:layout.container>
        <f:switch expression="{data.variant}">

            <f:case value="horizontal">
                <s2f:molecule.card class="card card--horizontal card--image-{data.image_position -> f:or(alternative: 'left')}">
                    <div class="card__grid">
                        <f:if condition="{data.card_image}">
                            <div class="card__image">
                                <f:for each="{data.card_image}" as="file">
                                    <f:image image="{file}" alt="{file.alternative}" width="600"/>
                                </f:for>
                            </div>
                        </f:if>
                        <div class="card__body">
                            <f:if condition="{data.badge_text}">
                                <s2f:atom.badge variant="secondary" class="card__badge">{data -> f:render.text(field: 'badge_text')}</s2f:atom.badge>
                            </f:if>
                            <f:if condition="{data.header}">
                                <s2f:atom.typography tag="h3" variant="h3" class="card__title">
                                    <f:if condition="{data.link}">
                                        <f:then><f:link.typolink parameter="{data.link}">{data -> f:render.text(field: 'header')}</f:link.typolink></f:then>
                                        <f:else>{data -> f:render.text(field: 'header')}</f:else>
                                    </f:if>
                                </s2f:atom.typography>
                            </f:if>
                            <f:if condition="{data.description}">
                                <s2f:atom.typography variant="muted" class="card__description">{data -> f:render.text(field: 'description')}</s2f:atom.typography>
                            </f:if>
                            <f:if condition="{data.button_text}">
                                <div class="card__actions">
                                    <f:link.typolink parameter="{data.button_link}">
                                        <s2f:atom.button variant="default">{data -> f:render.text(field: 'button_text')}</s2f:atom.button>
                                    </f:link.typolink>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </s2f:molecule.card>
            </f:case>

            <f:case value="with-image">
                <s2f:molecule.card class="card card--with-image">
                    <f:if condition="{data.card_image}">
                        <div class="card__image">
                            <f:for each="{data.card_image}" as="file">
                                <f:image image="{file}" alt="{file.alternative}" width="800"/>
                            </f:for>
                        </div>
                    </f:if>
                    <div class="card__header">
                        <f:if condition="{data.badge_text}">
                            <s2f:atom.badge variant="secondary" class="card__badge">{data -> f:render.text(field: 'badge_text')}</s2f:atom.badge>
                        </f:if>
                        <f:if condition="{data.header}">
                            <s2f:atom.typography tag="h3" variant="h3" class="card__title">
                                <f:if condition="{data.link}">
                                    <f:then><f:link.typolink parameter="{data.link}">{data -> f:render.text(field: 'header')}</f:link.typolink></f:then>
                                    <f:else>{data -> f:render.text(field: 'header')}</f:else>
                                </f:if>
                            </s2f:atom.typography>
                        </f:if>
                    </div>
                    <div class="card__content">
                        <f:if condition="{data.description}">
                            <s2f:atom.typography variant="muted" class="card__description">{data -> f:render.text(field: 'description')}</s2f:atom.typography>
                        </f:if>
                    </div>
                    <f:if condition="{data.button_text}">
                        <div class="card__footer">
                            <f:link.typolink parameter="{data.button_link}">
                                <s2f:atom.button variant="default">{data -> f:render.text(field: 'button_text')}</s2f:atom.button>
                            </f:link.typolink>
                        </div>
                    </f:if>
                </s2f:molecule.card>
            </f:case>

            <f:case value="overlay">
                <s2f:molecule.card class="card card--overlay">
                    <f:if condition="{data.card_image}">
                        <div class="card__image card__image--bg">
                            <f:for each="{data.card_image}" as="file">
                                <f:image image="{file}" alt="{file.alternative}" width="800"/>
                            </f:for>
                        </div>
                    </f:if>
                    <div class="card__overlay">
                        <div class="card__body">
                            <f:if condition="{data.badge_text}">
                                <s2f:atom.badge variant="secondary" class="card__badge">{data -> f:render.text(field: 'badge_text')}</s2f:atom.badge>
                            </f:if>
                            <f:if condition="{data.header}">
                                <s2f:atom.typography tag="h3" variant="h3" class="card__title">
                                    <f:if condition="{data.link}">
                                        <f:then><f:link.typolink parameter="{data.link}">{data -> f:render.text(field: 'header')}</f:link.typolink></f:then>
                                        <f:else>{data -> f:render.text(field: 'header')}</f:else>
                                    </f:if>
                                </s2f:atom.typography>
                            </f:if>
                            <f:if condition="{data.description}">
                                <s2f:atom.typography variant="muted" class="card__description">{data -> f:render.text(field: 'description')}</s2f:atom.typography>
                            </f:if>
                            <f:if condition="{data.button_text}">
                                <div class="card__actions">
                                    <f:link.typolink parameter="{data.button_link}">
                                        <s2f:atom.button variant="secondary">{data -> f:render.text(field: 'button_text')}</s2f:atom.button>
                                    </f:link.typolink>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </s2f:molecule.card>
            </f:case>

            <f:defaultCase>
                <s2f:molecule.card class="card card--default">
                    <div class="card__header">
                        <f:if condition="{data.badge_text}">
                            <s2f:atom.badge variant="secondary" class="card__badge">{data -> f:render.text(field: 'badge_text')}</s2f:atom.badge>
                        </f:if>
                        <f:if condition="{data.header}">
                            <s2f:atom.typography tag="h3" variant="h3" class="card__title">
                                <f:if condition="{data.link}">
                                    <f:then><f:link.typolink parameter="{data.link}">{data -> f:render.text(field: 'header')}</f:link.typolink></f:then>
                                    <f:else>{data -> f:render.text(field: 'header')}</f:else>
                                </f:if>
                            </s2f:atom.typography>
                        </f:if>
                    </div>
                    <div class="card__content">
                        <f:if condition="{data.description}">
                            <s2f:atom.typography variant="muted" class="card__description">{data -> f:render.text(field: 'description')}</s2f:atom.typography>
                        </f:if>
                    </div>
                    <f:if condition="{data.button_text}">
                        <div class="card__footer">
                            <f:link.typolink parameter="{data.button_link}">
                                <s2f:atom.button variant="default">{data -> f:render.text(field: 'button_text')}</s2f:atom.button>
                            </f:link.typolink>
                        </div>
                    </f:if>
                </s2f:molecule.card>
            </f:defaultCase>

        </f:switch>
    </s2f:layout.container>
</s2f:layout.section>

</html>
