<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
    ShadCN Hero Section - Main Frontend Template
    
    Supports three layout variants:
    1. centered - Text centered with optional badge and CTAs
    2. split - Two-column layout with text and image
    3. background - Full background image with overlay
    
    All variants support primary and secondary CTA buttons with configurable styles.
-->

<f:switch expression="{data.variant}">
    <f:case value="centered">
        <f:render partial="HeroCentered" arguments="{data: data}"/>
    </f:case>
    <f:case value="split">
        <f:render partial="HeroSplit" arguments="{data: data}"/>
    </f:case>
    <f:case value="background">
        <f:render partial="HeroBackground" arguments="{data: data}"/>
    </f:case>
    <f:defaultCase>
        <f:render partial="HeroCentered" arguments="{data: data}"/>
    </f:defaultCase>
</f:switch>

</html>
