<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-chart-line" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="chart-line-section">
    <s2f:layout.container>
        <div class="chart-line chart-line--{data.color_variant -> f:or(alternative: 'primary')}"
             data-chart-data="{data.chart_data -> f:format.htmlspecialchars()}"
             data-show-dots="{f:if(condition: data.show_dots, then: 'true', else: 'false')}"
             data-smooth="{f:if(condition: data.smooth, then: 'true', else: 'false')}"
             data-chart-id="chart-line-{data.uid}">
            <div class="chart-line__card">
                <f:if condition="{data.header} || {data.description}">
                    <div class="chart-line__header">
                        <f:if condition="{data.header}">
                            <h3 class="chart-line__title">{data.header}</h3>
                        </f:if>
                        <f:if condition="{data.description}">
                            <p class="chart-line__description">{data.description}</p>
                        </f:if>
                    </div>
                </f:if>
                <div class="chart-line__content">
                    <svg class="chart-line__canvas" id="chart-line-{data.uid}"></svg>
                </div>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
