<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-case-study-card" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="case-study-card">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <h2 class="case-study-card__heading">{data.header}</h2>
        </f:if>

        <article class="case-study-card__wrapper">
            <f:if condition="{data.image}">
                <div class="case-study-card__media">
                    <f:for each="{data.image}" as="fileReference">
                        <img src="{f:uri.image(image: fileReference, maxWidth: 640)}" alt="{data.client_name}" class="case-study-card__image"/>
                    </f:for>
                </div>
            </f:if>

            <div class="case-study-card__body">
                <f:if condition="{data.client_logo}">
                    <div class="case-study-card__logo">
                        <f:for each="{data.client_logo}" as="logo">
                            <img src="{f:uri.image(image: logo, maxWidth: 160)}" alt="{data.client_name}" class="case-study-card__logo-img"/>
                        </f:for>
                    </div>
                </f:if>

                <h3 class="case-study-card__client">{data.client_name}</h3>
                <p class="case-study-card__summary">{data.summary}</p>

                <f:if condition="{data.result_value}">
                    <div class="case-study-card__result">
                        <span class="case-study-card__result-value">{data.result_value}</span>
                        <f:if condition="{data.result_label}">
                            <span class="case-study-card__result-label">{data.result_label}</span>
                        </f:if>
                    </div>
                </f:if>

                <f:if condition="{data.link.url}">
                    <f:link.typolink parameter="{data.link}" class="case-study-card__link">
                        Read case study &rarr;
                    </f:link.typolink>
                </f:if>
            </div>
        </article>
    </s2f:layout.container>
</s2f:layout.section>
</html>
