<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-centered" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-centered">
    <s2f:layout.container>
        <header class="feature-centered__intro">
            <f:if condition="{data.eyebrow}"><span class="feature-centered__eyebrow">{data.eyebrow}</span></f:if>
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
            <f:if condition="{data.subheadline}"><s2f:atom.typography variant="muted">{data.subheadline}</s2f:atom.typography></f:if>
        </header>

        <div class="feature-centered__items">
            <f:for each="{data.items}" as="item">
                <div class="feature-centered__item">
                    <f:if condition="{item.icon}">
                        <span class="feature-centered__icon" aria-hidden="true">{item.icon}</span>
                    </f:if>
                    <h3 class="feature-centered__title">{item.title}</h3>
                    <f:if condition="{item.description}">
                        <p class="feature-centered__description">{item.description}</p>
                    </f:if>
                </div>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
