<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-split" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-split">
    <s2f:layout.container>
        <div class="feature-split__grid">
            <div class="feature-split__copy">
                <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</s2f:atom.typography></f:if>
                <f:if condition="{data.description}">
                    <s2f:atom.typography variant="muted" class="feature-split__description">{data -> f:render.text(field: 'description')}</s2f:atom.typography>
                </f:if>
                <div class="feature-split__list">
                    <f:for each="{data.items}" as="item">
                        <div class="feature-split__item">
                            <h3 class="feature-split__title">{item -> f:render.text(field: 'title')}</h3>
                            <f:if condition="{item.description_text}">
                                <p class="feature-split__detail">{item -> f:render.text(field: 'description_text')}</p>
                            </f:if>
                        </div>
                    </f:for>
                </div>
            </div>
            <f:if condition="{data.image.0}">
                <div class="feature-split__media">
                    <f:image image="{data.image.0}" alt="{data -> f:render.text(field: 'header')}" maxWidth="640" class="feature-split__image"/>
                </div>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
