<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-awards" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="awards">
    <s2f:layout.container>
        <f:if condition="{data.eyebrow} || {data.header} || {data.subheadline}">
            <header class="awards__intro">
                <f:if condition="{data.eyebrow}">
                    <span class="awards__eyebrow">{data -> f:render.text(field: 'eyebrow')}</span>
                </f:if>
                <f:if condition="{data.header}">
                    <h2 class="awards__headline">{data -> f:render.text(field: 'header')}</h2>
                </f:if>
                <f:if condition="{data.subheadline}">
                    <p class="awards__description">{data -> f:render.text(field: 'subheadline')}</p>
                </f:if>
            </header>
        </f:if>

        <div class="awards__grid">
            <f:for each="{data.awards}" as="award">
                <article class="awards__item">
                    <f:if condition="{award.image}">
                        <div class="awards__badge">
                            <f:for each="{award.image}" as="fileReference">
                                <img src="{f:uri.image(image: fileReference, maxWidth: 120)}" alt="{award -> f:render.text(field: 'title')}" class="awards__badge-img"/>
                            </f:for>
                        </div>
                    </f:if>
                    <div class="awards__info">
                        <f:if condition="{award.link.url}">
                            <f:then>
                                <f:link.typolink parameter="{award.link}" class="awards__title">{award -> f:render.text(field: 'title')}</f:link.typolink>
                            </f:then>
                            <f:else>
                                <h3 class="awards__title">{award -> f:render.text(field: 'title')}</h3>
                            </f:else>
                        </f:if>
                        <f:if condition="{award.organization} || {award.year}">
                            <span class="awards__meta">
                                {award -> f:render.text(field: 'organization')}<f:if condition="{award.organization} && {award.year}"> &middot; </f:if>{award -> f:render.text(field: 'year')}
                            </span>
                        </f:if>
                    </div>
                </article>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>
</html>
