<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-mission-statement" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="mission-statement">
    <s2f:layout.container>
        <div class="mission-statement__content">
            <f:if condition="{data.eyebrow}"><span class="mission-statement__eyebrow">{data.eyebrow}</span></f:if>
            <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
            <f:if condition="{data.statement}"><blockquote class="mission-statement__quote">{data.statement}</blockquote></f:if>
            <f:if condition="{data.attribution}"><cite class="mission-statement__attribution">{data.attribution}</cite></f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
