<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-card-overlay" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="card-overlay-section">
    <s2f:layout.container>
        <div class="card-overlay card-overlay--{data.overlay_opacity -> f:or(alternative: 'medium')}">
            <f:if condition="{data.image}">
                <div class="card-overlay__image">
                    <f:for each="{data.image}" as="file">
                        <f:image image="{file}" alt="{file.alternative}" width="800"/>
                    </f:for>
                </div>
            </f:if>
            <div class="card-overlay__content">
                <f:if condition="{data.header}">
                    <h3 class="card-overlay__title">{data.header}</h3>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="card-overlay__description">{data.description}</p>
                </f:if>
            </div>
            <f:if condition="{data.link}">
                <f:link.typolink parameter="{data.link}" class="card-overlay__link" aria-label="{data.header}"/>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
