<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-content-highlight" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="content-highlight content-highlight--{data.variant -> f:or(alternative: 'muted')} content-highlight--{data.alignment -> f:or(alternative: 'left')}">
    <s2f:layout.container>
        <div class="content-highlight__inner">
            <f:if condition="{data.header}">
                <s2f:atom.typography tag="h2" variant="h2" class="content-highlight__headline">{data.header}</s2f:atom.typography>
            </f:if>
            <div class="content-highlight__body">
                <f:format.html>{data.content}</f:format.html>
            </div>
            <f:if condition="{data.link.url} && {data.link_text}">
                <div class="content-highlight__actions">
                    <f:link.typolink parameter="{data.link}" class="content-highlight__cta">{data.link_text}</f:link.typolink>
                </div>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
