<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-resource-library" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="resource-library">
    <s2f:layout.container>
        <header class="resource-library__intro">
            <f:if condition="{data.eyebrow}"><span class="resource-library__eyebrow">{data.eyebrow}</span></f:if>
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
        </header>
        <div class="resource-library__grid">
            <f:for each="{data.items}" as="item">
                <s2f:molecule.card class="resource-library__item">
                    <f:if condition="{item.type_label}"><p class="resource-library__type">{item.type_label}</p></f:if>
                    <h3 class="resource-library__title">{item.title}</h3>
                    <p class="resource-library__description">{item.description}</p>
                    <f:if condition="{item.link.url}">
                        <f:link.typolink parameter="{item.link}" class="resource-library__link">Open resource</f:link.typolink>
                    </f:if>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
