<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-changelog" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="changelog-section">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <h2 class="changelog__headline">{data.header}</h2>
        </f:if>
        <div class="changelog__list">
            <f:for each="{data.items}" as="item">
                <article class="changelog__entry">
                    <div class="changelog__meta">
                        <span class="changelog__version">{item.version}</span>
                        <f:if condition="{item.date}">
                            <time class="changelog__date">{item.date}</time>
                        </f:if>
                        <span class="changelog__tag changelog__tag--{item.tag -> f:or(alternative: 'new')}">
                            {item.tag -> f:or(alternative: 'new')}
                        </span>
                    </div>
                    <f:if condition="{item.title}">
                        <h3 class="changelog__title">{item.title}</h3>
                    </f:if>
                    <f:if condition="{item.description}">
                        <div class="changelog__description">
                            <f:format.html>{item.description}</f:format.html>
                        </div>
                    </f:if>
                </article>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
