<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-footer-centered" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-centered">
    <s2f:layout.container>
        <div class="footer-centered__inner">
            <f:if condition="{data.logo}">
                <div class="footer-centered__logo">
                    <f:for each="{data.logo}" as="file">
                        <f:image image="{file}" alt="{data.brand}" height="32"/>
                    </f:for>
                </div>
            </f:if>
            <f:if condition="{data.brand}">
                <h2 class="footer-centered__brand">{data.brand}</h2>
            </f:if>
            <f:if condition="{data.links}">
                <nav class="footer-centered__nav" aria-label="Footer navigation">
                    <ul class="footer-centered__links">
                        <f:for each="{data.links}" as="item">
                            <li>
                                <f:if condition="{item.link}">
                                    <f:then><f:link.typolink parameter="{item.link}" class="footer-centered__link">{item.label}</f:link.typolink></f:then>
                                    <f:else><span class="footer-centered__link">{item.label}</span></f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </f:if>
            <f:if condition="{data.copyright}">
                <p class="footer-centered__copyright">{data.copyright}</p>
            </f:if>
        </div>
    </s2f:layout.container>
</footer>

</html>
