<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-cta-banner" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="cta-banner cta-banner--{data.bg_style -> f:or(alternative: 'primary')}">
    <s2f:layout.container>
        <div class="cta-banner__content">
            <f:if condition="{data.header}"><h2 class="cta-banner__headline">{data.header}</h2></f:if>
            <f:if condition="{data.description}"><p class="cta-banner__description">{data.description}</p></f:if>
            <f:if condition="{data.cta_text} && {data.cta_link.url}">
                <s2f:atom.button link="{data.cta_link}" variant="secondary" size="lg">{data.cta_text}</s2f:atom.button>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
