<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-board-members" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="board-members">
    <s2f:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="board-members__intro">
                <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
                <f:if condition="{data.subheadline}"><s2f:typography.text variant="muted">{data.subheadline}</s2f:typography.text></f:if>
            </header>
        </f:if>

        <div class="board-members__grid">
            <f:for each="{data.members}" as="member">
                <s2f:molecule.card class="board-members__card">
                    <f:if condition="{member.image}">
                        <div class="board-members__image-wrapper">
                            <f:for each="{member.image}" as="fileReference">
                                <img src="{f:uri.image(image: fileReference, maxWidth: 400)}" alt="{member.name}" class="board-members__image"/>
                            </f:for>
                        </div>
                    </f:if>
                    <div class="board-members__content">
                        <h3 class="board-members__name">{member.name}</h3>
                        <f:if condition="{member.title}"><p class="board-members__title">{member.title}</p></f:if>
                        <f:if condition="{member.affiliation}"><p class="board-members__affiliation">{member.affiliation}</p></f:if>
                        <f:if condition="{member.bio}"><p class="board-members__bio">{member.bio}</p></f:if>
                    </div>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
