<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="mediaClasses" value="shadcn-textmedia__media {f:if(condition: data.media_rounded, then: 'shadcn-textmedia__media--rounded')} {f:if(condition: data.media_shadow, then: 'shadcn-textmedia__media--shadow')}"/>

<section class="shadcn-textmedia shadcn-textmedia--{data.layout}">
    <div class="shadcn-textmedia__container">
        
        <f:comment><!-- Media Above --></f:comment>
        <f:if condition="{data.layout} == 'media-above'">
            <f:if condition="{data.media}">
                <div class="shadcn-textmedia__media-wrapper">
                    <f:render partial="MediaRender" arguments="{data: data, mediaClasses: mediaClasses}"/>
                </div>
            </f:if>
        </f:if>
        
        <f:comment><!-- Grid for side-by-side layouts --></f:comment>
        <f:if condition="{data.layout} == 'media-left' || {data.layout} == 'media-right'">
            <div class="shadcn-textmedia__grid">
                <f:comment><!-- Media Left --></f:comment>
                <f:if condition="{data.layout} == 'media-left'">
                    <f:if condition="{data.media}">
                        <div class="shadcn-textmedia__media-wrapper">
                            <f:render partial="MediaRender" arguments="{data: data, mediaClasses: mediaClasses}"/>
                        </div>
                    </f:if>
                </f:if>
                
                <f:comment><!-- Text Content --></f:comment>
                <div class="shadcn-textmedia__content">
                    <f:render partial="TextContent" arguments="{data: data}"/>
                </div>
                
                <f:comment><!-- Media Right --></f:comment>
                <f:if condition="{data.layout} == 'media-right'">
                    <f:if condition="{data.media}">
                        <div class="shadcn-textmedia__media-wrapper">
                            <f:render partial="MediaRender" arguments="{data: data, mediaClasses: mediaClasses}"/>
                        </div>
                    </f:if>
                </f:if>
            </div>
        </f:if>
        
        <f:comment><!-- Non-grid layouts --></f:comment>
        <f:if condition="{data.layout} == 'media-above' || {data.layout} == 'media-below'">
            <div class="shadcn-textmedia__content">
                <f:render partial="TextContent" arguments="{data: data}"/>
            </div>
        </f:if>
        
        <f:comment><!-- Media Below --></f:comment>
        <f:if condition="{data.layout} == 'media-below'">
            <f:if condition="{data.media}">
                <div class="shadcn-textmedia__media-wrapper">
                    <f:render partial="MediaRender" arguments="{data: data, mediaClasses: mediaClasses}"/>
                </div>
            </f:if>
        </f:if>
        
    </div>
</section>

</html>
