<f:argument name="variant" type="string" optional="{true}" default="default" />
<f:argument name="class" type="string" optional="{true}" default="" />

<f:variable name="base" value="relative w-full rounded-lg border px-4 py-3 text-sm [&amp;>svg+div]:translate-y-[-3px] [&amp;>svg]:absolute [&amp;>svg]:left-4 [&amp;>svg]:top-4 [&amp;>svg]:text-foreground [&amp;>svg~*]:pl-7" />

<f:variable name="variantClass">
    <f:switch expression="{variant}">
        <f:case value="destructive">border-destructive/50 text-destructive dark:border-destructive [&amp;>svg]:text-destructive</f:case>
        <f:defaultCase>bg-background text-foreground</f:defaultCase>
    </f:switch>
</f:variable>

<div role="alert" class="{base} {variantClass -> f:format.trim()} {class}">
    <f:slot />
</div>
