<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{data.badge_text}">
    <span class="shadcn-badge shadcn-badge--secondary">{data.badge_text}</span>
</f:if>

<h2 class="shadcn-cta__headline">{data.headline}</h2>

<f:if condition="{data.description}">
    <p class="shadcn-cta__description">{data.description}</p>
</f:if>

<f:if condition="{data.primary_button_text} || {data.secondary_button_text}">
    <div class="shadcn-cta__actions">
        <f:if condition="{data.primary_button_text}">
            <f:if condition="{data.primary_button_link.url}">
                <f:link.typolink parameter="{data.primary_button_link}" 
                                 class="shadcn-btn shadcn-btn--{f:if(condition: "{data.background_color} == 'primary'", then: 'secondary', else: 'default')} shadcn-btn--lg">
                    {data.primary_button_text}
                </f:link.typolink>
            </f:if>
        </f:if>
        
        <f:if condition="{data.secondary_button_text}">
            <f:if condition="{data.secondary_button_link.url}">
                <f:link.typolink parameter="{data.secondary_button_link}" 
                                 class="shadcn-btn shadcn-btn--outline shadcn-btn--lg">
                    {data.secondary_button_text}
                </f:link.typolink>
            </f:if>
        </f:if>
    </div>
</f:if>

</html>
