<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-badge-grid" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="badge-grid-section">
    <s2f:layout.container>
        <f:if condition="{data.header} || {data.description}">
            <header class="badge-grid__intro">
                <f:if condition="{data.header}">
                    <h2 class="badge-grid__headline">{data.header}</h2>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="badge-grid__description">{data.description}</p>
                </f:if>
            </header>
        </f:if>
        <div class="badge-grid__list">
            <f:for each="{data.items}" as="item">
                <f:if condition="{item.link}">
                    <f:then>
                        <f:link.typolink parameter="{item.link}" class="badge-grid__badge badge-grid__badge--{data.variant -> f:or(alternative: 'default')} badge-grid__badge--{item.color -> f:or(alternative: 'default')}">{item.text}</f:link.typolink>
                    </f:then>
                    <f:else>
                        <span class="badge-grid__badge badge-grid__badge--{data.variant -> f:or(alternative: 'default')} badge-grid__badge--{item.color -> f:or(alternative: 'default')}">{item.text}</span>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
