<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-about-us" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="about-us">
    <s2f:layout.container>
        <div class="about-us__layout">
            <div class="about-us__content">
                <f:if condition="{data.eyebrow}"><span class="about-us__eyebrow">{data -> f:render.text(field: 'eyebrow')}</span></f:if>
                <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</s2f:atom.typography></f:if>
                <f:if condition="{data.description}"><s2f:atom.typography variant="muted">{data -> f:render.text(field: 'description')}</s2f:atom.typography></f:if>
                <f:if condition="{data.cta_text} && {data.cta_link.url}">
                    <div class="about-us__actions">
                        <s2f:atom.button href="{data.cta_link.url}" target="{data.cta_link.target}" size="lg">{data -> f:render.text(field: 'cta_text')}</s2f:atom.button>
                    </div>
                </f:if>
            </div>
            <f:if condition="{data.image}">
                <div class="about-us__image-wrapper">
                    <f:for each="{data.image}" as="fileReference">
                        <img src="{f:uri.image(image: fileReference, maxWidth: 720)}" alt="" class="about-us__image"/>
                    </f:for>
                </div>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
