<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-bento" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-bento">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <header class="feature-bento__intro">
                <s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography>
                <f:if condition="{data.subheadline}"><s2f:atom.typography variant="muted">{data.subheadline}</s2f:atom.typography></f:if>
            </header>
        </f:if>

        <div class="feature-bento__grid">
            <f:for each="{data.items}" as="item">
                <s2f:molecule.card class="feature-bento__item feature-bento__item--{item.size -> f:or(alternative: 'small')}">
                    <f:if condition="{item.image.0}">
                        <div class="feature-bento__bg">
                            <f:image image="{item.image.0}" alt="" maxWidth="800" class="feature-bento__bg-image"/>
                        </div>
                    </f:if>
                    <div class="feature-bento__content">
                        <h3 class="feature-bento__title">{item.title}</h3>
                        <f:if condition="{item.description}">
                            <p class="feature-bento__description">{item.description}</p>
                        </f:if>
                    </div>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
