<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-video" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-video">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <header class="feature-video__intro">
                <f:if condition="{data.eyebrow}"><span class="feature-video__eyebrow">{data.eyebrow}</span></f:if>
                <s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography>
                <f:if condition="{data.description}"><s2f:atom.typography variant="muted">{data.description}</s2f:atom.typography></f:if>
            </header>
        </f:if>

        <div class="feature-video__player">
            <f:if condition="{data.video_url}">
                <f:then>
                    <div class="feature-video__embed">
                        <iframe src="{data.video_url}" frameborder="0" allowfullscreen loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{data.video_file.0}">
                        <video class="feature-video__native" controls preload="metadata"
                               {f:if(condition: data.poster.0, then: 'poster="{f:uri.image(image: data.poster.0, maxWidth: 1280)}"')}>
                            <source src="{f:uri.resource(path: data.video_file.0.originalFile.identifier, extensionName: '')}" type="{data.video_file.0.mimeType}"/>
                        </video>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
