<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-cta-floating" href="{cb:assetPath()}/frontend.css"/>

<div class="cta-floating cta-floating--{data.position -> f:or(alternative: 'bottom')}">
    <s2f:layout.container>
        <div class="cta-floating__bar">
            <f:if condition="{data.header}"><span class="cta-floating__text">{data -> f:render.text(field: 'header')}</span></f:if>
            <f:if condition="{data.cta_text} && {data.cta_link.url}">
                <s2f:atom.button link="{data.cta_link}" size="sm">{data -> f:render.text(field: 'cta_text')}</s2f:atom.button>
            </f:if>
        </div>
    </s2f:layout.container>
</div>

</html>
