<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:asset.css identifier="s2f-hero-product" href="{cb:assetPath()}/frontend.css"/>
<s2f:layout.section class="hero-product">
    <s2f:layout.container>
        <div class="hero-product__grid">
            <div class="hero-product__content">
                <f:if condition="{data.badge_text}"><s2f:atom.badge variant="secondary">{data.badge_text}</s2f:atom.badge></f:if>
                <f:if condition="{data.header}"><h1 class="hero-product__title">{data.header}</h1></f:if>
                <f:if condition="{data.subheadline}"><p class="hero-product__description">{data.subheadline}</p></f:if>
                <f:if condition="{data.features}">
                    <ul class="hero-product__features">
                        <f:for each="{data.features}" as="feature">
                            <li class="hero-product__feature">{feature.label}</li>
                        </f:for>
                    </ul>
                </f:if>
                <div class="hero-product__cta">
                    <f:if condition="{data.price}"><span class="hero-product__price">{data.price}</span></f:if>
                    <f:if condition="{data.primary_button_text} && {data.primary_button_link.url}">
                        <s2f:atom.button link="{data.primary_button_link}" size="lg">{data.primary_button_text}</s2f:atom.button>
                    </f:if>
                </div>
            </div>
            <div class="hero-product__media">
                <f:if condition="{data.product_image}">
                    <f:for each="{data.product_image}" as="image">
                        <f:image image="{image}" class="hero-product__image" alt="{data.header}"/>
                    </f:for>
                </f:if>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>
</html>
