<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-privacy-notice" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="privacy-notice-section">
    <s2f:layout.container>
        <div class="privacy-notice">
            <f:if condition="{data.header}">
                <h2 class="privacy-notice__title">{data.header}</h2>
            </f:if>
            <f:if condition="{data.last_updated}">
                <p class="privacy-notice__updated">Last updated: {data.last_updated}</p>
            </f:if>
            <f:if condition="{data.intro}">
                <p class="privacy-notice__intro">{data.intro}</p>
            </f:if>
            <div class="privacy-notice__sections">
                <f:for each="{data.sections}" as="section">
                    <details class="privacy-notice__section">
                        <summary class="privacy-notice__section-title">{section.title}</summary>
                        <div class="privacy-notice__section-content">
                            <f:format.html>{section.content}</f:format.html>
                        </div>
                    </details>
                </f:for>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
