<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-features" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="features">
    <s2f:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <div class="features__header">
                <f:if condition="{data.header}">
                    <s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography>
                </f:if>
                <f:if condition="{data.subheadline}">
                    <s2f:atom.typography variant="muted" class="features__subheadline">{data.subheadline}</s2f:atom.typography>
                </f:if>
            </div>
        </f:if>

        <div class="features__grid features__grid--cols-{data.columns} features__grid--{data.variant}">
            <f:for each="{data.feature_items}" as="feature">
                <div class="features__item {f:if(condition: '{data.variant} == \'card\'', then: 'features__item--card')}">
                    <div class="features__icon" aria-hidden="true">
                        <span class="features__icon-label">{feature.icon_name}</span>
                    </div>
                    <div class="features__content">
                        <h3 class="features__title">
                            <f:if condition="{feature.link.url}">
                                <f:then>
                                    <f:link.typolink parameter="{feature.link}">{feature.title}</f:link.typolink>
                                </f:then>
                                <f:else>
                                    {feature.title}
                                </f:else>
                            </f:if>
                        </h3>
                        <f:if condition="{feature.description}">
                            <p class="features__description">{feature.description}</p>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
