<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-cta-card" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="cta-card">
    <s2f:layout.container>
        <s2f:molecule.card class="cta-card__card">
            <f:if condition="{data.badge}"><span class="cta-card__badge">{data.badge}</span></f:if>
            <f:if condition="{data.header}"><s2f:typography.heading level="2">{data.header}</s2f:typography.heading></f:if>
            <f:if condition="{data.description}"><s2f:typography.text variant="muted">{data.description}</s2f:typography.text></f:if>
            <f:if condition="{data.cta_text} && {data.cta_link.url}">
                <div class="cta-card__actions">
                    <s2f:atom.button link="{data.cta_link}" size="lg">{data.cta_text}</s2f:atom.button>
                </div>
            </f:if>
        </s2f:molecule.card>
    </s2f:layout.container>
</s2f:layout.section>

</html>
