<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-copyright-bar" href="{cb:assetPath()}/frontend.css"/>

<div class="copyright-bar copyright-bar--{data.alignment -> f:or(alternative: 'between')}">
    <s2f:layout.container>
        <div class="copyright-bar__inner">
            <p class="copyright-bar__text">{data.copyright}</p>
            <f:if condition="{data.link_items}">
                <nav aria-label="Legal links">
                    <ul class="copyright-bar__links">
                        <f:for each="{data.link_items}" as="item">
                            <li>
                                <f:if condition="{item.link}">
                                    <f:then><f:link.typolink parameter="{item.link}" class="copyright-bar__link">{item.label}</f:link.typolink></f:then>
                                    <f:else><span class="copyright-bar__link">{item.label}</span></f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </f:if>
        </div>
    </s2f:layout.container>
</div>

</html>
