<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<section class="shadcn-features">
    <f:if condition="{data.headline} || {data.subheadline}">
        <div class="shadcn-features__header">
            <f:if condition="{data.headline}">
                <h2 class="shadcn-features__headline">{data.headline}</h2>
            </f:if>
            <f:if condition="{data.subheadline}">
                <p class="shadcn-features__subheadline">{data.subheadline}</p>
            </f:if>
        </div>
    </f:if>
    
    <div class="shadcn-features__grid shadcn-features__grid--cols-{data.columns} shadcn-features__grid--{data.variant}">
        <f:for each="{data.features}" as="feature">
            <div class="shadcn-feature {f:if(condition: '{data.variant} == \"card\"', then: 'shadcn-card')}">
                <div class="shadcn-feature__icon">
                    <f:render partial="FeatureIcon" arguments="{icon: feature.icon}"/>
                </div>
                <div class="shadcn-feature__content">
                    <h3 class="shadcn-feature__title">
                        <f:if condition="{feature.link.url}">
                            <f:then>
                                <f:link.typolink parameter="{feature.link}">{feature.title}</f:link.typolink>
                            </f:then>
                            <f:else>
                                {feature.title}
                            </f:else>
                        </f:if>
                    </h3>
                    <f:if condition="{feature.description}">
                        <p class="shadcn-feature__description">{feature.description}</p>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</section>

</html>
