<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-video-embed" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="video-embed">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <s2f:atom.typography tag="h2" variant="h2" class="video-embed__headline">{data.header}</s2f:atom.typography>
        </f:if>

        <figure class="video-embed__figure">
            <f:if condition="{data.video_url}">
                <f:then>
                    <div class="video-embed__wrapper video-embed__wrapper--{data.aspect_ratio -> f:or(alternative: '16-9')}">
                        <iframe src="{data.video_url}" frameborder="0" allowfullscreen loading="lazy"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{data.video_file.0}">
                        <video class="video-embed__native" controls preload="metadata">
                            <source src="{f:uri.resource(path: data.video_file.0.originalFile.identifier, extensionName: '')}" type="{data.video_file.0.mimeType}"/>
                        </video>
                    </f:if>
                </f:else>
            </f:if>
            <f:if condition="{data.caption}">
                <figcaption class="video-embed__caption">{data.caption}</figcaption>
            </f:if>
        </figure>
    </s2f:layout.container>
</s2f:layout.section>

</html>
