<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-footer-brand" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-brand">
    <s2f:layout.container>
        <div class="footer-brand__inner">
            <div class="footer-brand__identity">
                <f:if condition="{data.logo}">
                    <div class="footer-brand__logo">
                        <f:for each="{data.logo}" as="file">
                            <f:image image="{file}" alt="{data.brand}" height="48"/>
                        </f:for>
                    </div>
                </f:if>
                <f:if condition="{data.brand}">
                    <h2 class="footer-brand__name">{data.brand}</h2>
                </f:if>
                <f:if condition="{data.tagline}">
                    <p class="footer-brand__tagline">{data.tagline}</p>
                </f:if>
            </div>
            <f:if condition="{data.links}">
                <nav class="footer-brand__nav" aria-label="Footer links">
                    <ul class="footer-brand__links">
                        <f:for each="{data.links}" as="item">
                            <li>
                                <f:if condition="{item.link}">
                                    <f:then><f:link.typolink parameter="{item.link}" class="footer-brand__link">{item.label}</f:link.typolink></f:then>
                                    <f:else><span class="footer-brand__link">{item.label}</span></f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </f:if>
        </div>
        <f:if condition="{data.copyright}">
            <div class="footer-brand__bottom">
                <p class="footer-brand__copyright">{data.copyright}</p>
            </div>
        </f:if>
    </s2f:layout.container>
</footer>

</html>
