<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-cta-minimal" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="cta-minimal">
    <s2f:layout.container>
        <div class="cta-minimal__content">
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</s2f:atom.typography></f:if>
            <f:if condition="{data.description_text}"><s2f:atom.typography variant="muted">{data -> f:render.text(field: 'description_text')}</s2f:atom.typography></f:if>
            <f:if condition="{data.cta_text} && {data.cta_link.url}">
                <f:link.typolink parameter="{data.cta_link}" class="cta-minimal__link">{data -> f:render.text(field: 'cta_text')} &rarr;</f:link.typolink>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
