<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-map-embed" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="map-embed">
    <s2f:layout.container>
        <f:if condition="{data.header} || {data.address}">
            <header class="map-embed__intro">
                <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
                <f:if condition="{data.address}"><p class="map-embed__address">{data.address}</p></f:if>
            </header>
        </f:if>
        <f:if condition="{data.embed_url}">
            <div class="map-embed__frame" style="height: {data.height -> f:or(alternative: '400')}px">
                <iframe src="{data.embed_url}" class="map-embed__iframe" allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </f:if>
    </s2f:layout.container>
</s2f:layout.section>

</html>
