<f:argument name="type" type="string" optional="{true}" default="text" />
<f:argument name="name" type="string" optional="{true}" />
<f:argument name="placeholder" type="string" optional="{true}" />
<f:argument name="value" type="string" optional="{true}" />
<f:argument name="disabled" type="bool" optional="{true}" default="{false}" />
<f:argument name="required" type="bool" optional="{true}" default="{false}" />
<f:argument name="class" type="string" optional="{true}" default="" />

<input
    type="{type}"
    name="{name}"
    placeholder="{placeholder}"
    value="{value}"
    disabled="{disabled}"
    required="{required}"
    class="input {class}"
/>
