<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-use-case-grid" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="use-case-grid">
    <s2f:layout.container>
        <header class="use-case-grid__intro">
            <f:if condition="{data.eyebrow}"><span class="use-case-grid__eyebrow">{data.eyebrow}</span></f:if>
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
            <f:if condition="{data.subheadline}"><s2f:atom.typography variant="muted">{data.subheadline}</s2f:atom.typography></f:if>
        </header>
        <div class="use-case-grid__grid">
            <f:for each="{data.items}" as="item">
                <s2f:molecule.card class="use-case-grid__item">
                    <h3 class="use-case-grid__title">
                        <f:if condition="{item.link.url}">
                            <f:then><f:link.typolink parameter="{item.link}">{item.title}</f:link.typolink></f:then>
                            <f:else>{item.title}</f:else>
                        </f:if>
                    </h3>
                    <p class="use-case-grid__description">{item.description}</p>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
