<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-data-table" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="data-table-section">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <s2f:atom.typography tag="h2" variant="h2" class="data-table-section__headline">{data -> f:render.text(field: 'header')}</s2f:atom.typography>
        </f:if>

        <s2f:molecule.table class="table-wrapper table-wrapper--{data.variant -> f:or(alternative: 'default')}">
            <table class="table table--{data.variant -> f:or(alternative: 'default')}">
                <f:if condition="{data.show_header_row} && {data.columns}">
                    <thead class="table__header">
                        <tr class="table__row">
                            <f:for each="{data.columns}" as="col">
                                <th class="table__head table__head--{col.column_align -> f:or(alternative: 'left')}">{col -> f:render.text(field: 'column_label')}</th>
                            </f:for>
                        </tr>
                    </thead>
                </f:if>
                <tbody>
                    <f:for each="{data.rows}" as="row">
                        <tr class="table__row">
                            <f:for each="{data.columns}" as="col" iteration="colIter">
                                <td class="table__cell table__cell--{col.column_align -> f:or(alternative: 'left')}">{row -> f:render.text(field: 'row_data')}</td>
                            </f:for>
                        </tr>
                    </f:for>
                </tbody>
                <f:if condition="{data.show_caption} && {data.caption_text}">
                    <caption class="table__caption">{data -> f:render.text(field: 'caption_text')}</caption>
                </f:if>
            </table>
        </s2f:molecule.table>
    </s2f:layout.container>
</s2f:layout.section>

</html>
