<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-footer-dark" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-dark">
    <s2f:layout.container>
        <div class="footer-dark__grid">
            <div class="footer-dark__brand">
                <f:if condition="{data.brand}">
                    <h2 class="footer-dark__title">{data.brand}</h2>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="footer-dark__description">{data.description}</p>
                </f:if>
            </div>
            <f:for each="{data.columns}" as="col">
                <nav class="footer-dark__col">
                    <h3 class="footer-dark__col-title">{col.title}</h3>
                    <ul class="footer-dark__links">
                        <f:for each="{col.links}" as="item">
                            <li>
                                <f:if condition="{item.link}">
                                    <f:then><f:link.typolink parameter="{item.link}" class="footer-dark__link">{item.label}</f:link.typolink></f:then>
                                    <f:else><span class="footer-dark__link">{item.label}</span></f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </f:for>
        </div>
        <f:if condition="{data.copyright}">
            <div class="footer-dark__bottom">
                <p class="footer-dark__copyright">{data.copyright}</p>
            </div>
        </f:if>
    </s2f:layout.container>
</footer>

</html>
