<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
      data-namespace-typo3-fluid="true">

<vac:asset.vite entry="src/main.ts"
                manifest="EXT:shadcn2fluid_templates/Resources/Public/Vite/.vite/manifest.json" />

<div class="flex min-h-screen flex-col bg-background text-foreground font-sans antialiased">
    <f:render partial="Page/Header" arguments="{_all}" optional="{true}" />

    <main id="main" class="flex-1" role="main">
        <f:render section="Main" />
    </main>

    <f:render partial="Page/Footer" arguments="{_all}" optional="{true}" />
</div>

</html>
