<f:argument name="trigger" type="string" />
<f:argument name="open" type="bool" optional="{true}" default="{false}" />
<f:argument name="class" type="string" optional="{true}" default="" />

<div
    x-data="{ open: {f:if(condition: open, then: 'true', else: 'false')} }"
    class="border-b {class}"
    data-s2f-accordion-item
>
    <button
        type="button"
        x-on:click="open = !open"
        x-bind:aria-expanded="open ? 'true' : 'false'"
        x-bind:data-state="open ? 'open' : 'closed'"
        class="flex flex-1 w-full items-center justify-between py-4 font-medium transition-all hover:underline text-left [&amp;[data-state=open]>svg]:rotate-180"
        data-s2f-accordion-trigger
    >
        <span>{trigger}</span>
        <svg class="h-4 w-4 shrink-0 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
    </button>
    <div
        x-show="open"
        x-collapse
        class="overflow-hidden text-sm"
        data-s2f-accordion-content
    >
        <div class="pb-4 pt-0">
            <f:slot />
        </div>
    </div>
</div>
