<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-stats" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-stats">
    <s2f:layout.container>
        <div class="feature-stats__layout">
            <div class="feature-stats__copy">
                <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
                <f:if condition="{data.description}">
                    <s2f:atom.typography variant="muted" class="feature-stats__description">{data.description}</s2f:atom.typography>
                </f:if>
            </div>
            <div class="feature-stats__grid">
                <f:for each="{data.items}" as="item">
                    <div class="feature-stats__item">
                        <span class="feature-stats__value">{item.value}</span>
                        <span class="feature-stats__label">{item.label}</span>
                        <f:if condition="{item.description_text}">
                            <span class="feature-stats__detail">{item.description_text}</span>
                        </f:if>
                    </div>
                </f:for>
            </div>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
