<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-navbar-tabbed" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="navbar-tabbed">
    <s2f:layout.container>
        <nav class="navbar-tabbed__inner" aria-label="Tabbed navigation">
            <div class="navbar-tabbed__brand">{data.brand}</div>
            <div class="navbar-tabbed__tabs" role="tablist">
                <f:for each="{data.tabs}" as="tab">
                    <f:if condition="{tab.link.url}">
                        <f:link.typolink parameter="{tab.link}" class="navbar-tabbed__tab{f:if(condition: tab.active, then: ' navbar-tabbed__tab--active')}" role="tab">{tab.label}</f:link.typolink>
                    </f:if>
                </f:for>
            </div>
            <f:if condition="{data.button_text} && {data.button_link.url}">
                <s2f:atom.button link="{data.button_link}" size="sm">{data.button_text}</s2f:atom.button>
            </f:if>
        </nav>
    </s2f:layout.container>
</s2f:layout.section>

</html>
