<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-icons" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-icons">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <header class="feature-icons__intro">
                <s2f:typography.heading level="2">{data.header}</s2f:typography.heading>
            </header>
        </f:if>

        <div class="feature-icons__grid feature-icons__grid--cols-{data.columns -> f:or(alternative: '4')}">
            <f:for each="{data.items}" as="item">
                <div class="feature-icons__item">
                    <span class="feature-icons__icon" aria-hidden="true">{item.icon}</span>
                    <h3 class="feature-icons__title">{item.title}</h3>
                    <f:if condition="{item.description}">
                        <p class="feature-icons__description">{item.description}</p>
                    </f:if>
                </div>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
