<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-cta" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="cta cta--{data.variant -> f:or(alternative: 'centered')}">
    <s2f:layout.container>
        <f:if condition="{data.variant} == 'split'">
            <f:then>
                <div class="cta__split">
                    <div class="cta__content">
                        <f:if condition="{data.badge_text}"><span class="cta__badge">{data.badge_text}</span></f:if>
                        <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
                        <f:if condition="{data.description}"><s2f:atom.typography variant="muted">{data.description}</s2f:atom.typography></f:if>
                        <f:if condition="{data.primary_button_text} || {data.secondary_button_text}">
                            <div class="cta__actions">
                                <f:if condition="{data.primary_button_text} && {data.primary_button_link.url}">
                                    <s2f:atom.button link="{data.primary_button_link}" size="lg">{data.primary_button_text}</s2f:atom.button>
                                </f:if>
                                <f:if condition="{data.secondary_button_text} && {data.secondary_button_link.url}">
                                    <s2f:atom.button link="{data.secondary_button_link}" variant="outline" size="lg">{data.secondary_button_text}</s2f:atom.button>
                                </f:if>
                            </div>
                        </f:if>
                    </div>
                    <f:if condition="{data.image}">
                        <div class="cta__image-wrapper">
                            <f:for each="{data.image}" as="fileReference">
                                <img src="{f:uri.image(image: fileReference, maxWidth: 600)}" alt="" class="cta__image"/>
                            </f:for>
                        </div>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="cta__content">
                    <f:if condition="{data.badge_text}"><span class="cta__badge">{data.badge_text}</span></f:if>
                    <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data.header}</s2f:atom.typography></f:if>
                    <f:if condition="{data.description}"><s2f:atom.typography variant="muted">{data.description}</s2f:atom.typography></f:if>
                    <f:if condition="{data.primary_button_text} || {data.secondary_button_text}">
                        <div class="cta__actions">
                            <f:if condition="{data.primary_button_text} && {data.primary_button_link.url}">
                                <s2f:atom.button link="{data.primary_button_link}" size="lg">{data.primary_button_text}</s2f:atom.button>
                            </f:if>
                            <f:if condition="{data.secondary_button_text} && {data.secondary_button_link.url}">
                                <s2f:atom.button link="{data.secondary_button_link}" variant="outline" size="lg">{data.secondary_button_text}</s2f:atom.button>
                            </f:if>
                        </div>
                    </f:if>
                </div>
            </f:else>
        </f:if>
    </s2f:layout.container>
</s2f:layout.section>

</html>
