<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="shadcn-card shadcn-card--horizontal">
    <f:if condition="{data.image}">
        <div class="shadcn-card__image-wrapper">
            <f:for each="{data.image}" as="fileReference">
                <img src="{f:uri.image(image: fileReference, maxWidth: 400)}" 
                     alt="{fileReference.alternative -> f:or(alternative: data.title)}" 
                     class="shadcn-card__image" />
            </f:for>
        </div>
    </f:if>
    
    <div class="shadcn-card__body">
        <f:if condition="{data.link.url}">
            <f:then>
                <f:link.typolink parameter="{data.link}" class="shadcn-card__link-wrapper">
                    <f:render partial="CardContent" arguments="{data: data}"/>
                </f:link.typolink>
            </f:then>
            <f:else>
                <f:render partial="CardContent" arguments="{data: data}"/>
            </f:else>
        </f:if>
    </div>
</div>

</html>
