<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="shadcn-card__content">
    <f:if condition="{data.badge_text}">
        <span class="shadcn-badge shadcn-badge--secondary">{data.badge_text}</span>
    </f:if>
    
    <h3 class="shadcn-card__title">{data.title}</h3>
    
    <f:if condition="{data.description}">
        <p class="shadcn-card__description">{data.description}</p>
    </f:if>
</div>

<f:if condition="{data.button_text}">
    <div class="shadcn-card__footer">
        <f:if condition="{data.button_link.url}">
            <f:link.typolink parameter="{data.button_link}" class="shadcn-btn shadcn-btn--default">
                {data.button_text}
            </f:link.typolink>
        </f:if>
    </div>
</f:if>

</html>
