<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-table-content" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="table-content">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <s2f:typography.heading level="2" class="table-content__headline">{data.header}</s2f:typography.heading>
        </f:if>

        <div class="table-content__wrapper">
            <table class="table-content__table">
                <f:if condition="{data.caption}">
                    <caption class="table-content__caption">{data.caption}</caption>
                </f:if>
                <thead>
                    <tr>
                        <f:for each="{data.columns}" as="col">
                            <th class="table-content__th">{col.label}</th>
                        </f:for>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{data.rows}" as="row">
                        <tr>
                            <f:if condition="{row.col1}"><td class="table-content__td">{row.col1}</td></f:if>
                            <f:if condition="{row.col2}"><td class="table-content__td">{row.col2}</td></f:if>
                            <f:if condition="{row.col3}"><td class="table-content__td">{row.col3}</td></f:if>
                            <f:if condition="{row.col4}"><td class="table-content__td">{row.col4}</td></f:if>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
