<f:argument name="href" type="string" optional="{true}" default="" />
<f:argument name="variant" type="string" optional="{true}" default="default" />
<f:argument name="external" type="bool" optional="{true}" default="{false}" />
<f:argument name="class" type="string" optional="{true}" default="" />

<f:variable name="linkClass" value="link link--{variant} {class}" />

<f:if condition="{external}">
    <f:then>
        <a href="{href}" class="{linkClass -> f:format.trim()}" target="_blank" rel="noopener noreferrer">
            <f:slot />
        </a>
    </f:then>
    <f:else>
        <a href="{href}" class="{linkClass -> f:format.trim()}">
            <f:slot />
        </a>
    </f:else>
</f:if>
