<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-feature-carousel" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="feature-carousel">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <header class="feature-carousel__intro">
                <s2f:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</s2f:atom.typography>
                <f:if condition="{data.subheadline}"><s2f:atom.typography variant="muted">{data -> f:render.text(field: 'subheadline')}</s2f:atom.typography></f:if>
            </header>
        </f:if>

        <div class="feature-carousel__track">
            <f:for each="{data.items}" as="item">
                <s2f:molecule.card class="feature-carousel__slide">
                    <f:if condition="{item.icon}">
                        <span class="feature-carousel__icon" aria-hidden="true">{item -> f:render.text(field: 'icon')}</span>
                    </f:if>
                    <h3 class="feature-carousel__title">
                        <f:if condition="{item.link.url}">
                            <f:then><f:link.typolink parameter="{item.link}">{item -> f:render.text(field: 'title')}</f:link.typolink></f:then>
                            <f:else>{item -> f:render.text(field: 'title')}</f:else>
                        </f:if>
                    </h3>
                    <f:if condition="{item.description}">
                        <p class="feature-carousel__description">{item -> f:render.text(field: 'description')}</p>
                    </f:if>
                </s2f:molecule.card>
            </f:for>
        </div>
    </s2f:layout.container>
</s2f:layout.section>

</html>
