<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-article-hero" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="article-hero">
    <s2f:layout.container>
        <div class="article-hero__copy">
            <f:if condition="{data.eyebrow}"><span class="article-hero__eyebrow">{data.eyebrow}</span></f:if>

            <h1 class="article-hero__headline">{data.header}</h1>

            <f:if condition="{data.dek}">
                <p class="article-hero__dek">{data.dek}</p>
            </f:if>

            <div class="article-hero__meta">
                <f:if condition="{data.topic}"><span class="article-hero__meta-item">{data.topic}</span></f:if>
                <f:if condition="{data.publish_date}"><span class="article-hero__meta-item">{data.publish_date}</span></f:if>
                <f:if condition="{data.reading_time}"><span class="article-hero__meta-item">{data.reading_time}</span></f:if>
            </div>

            <f:if condition="{data.author_name}">
                <div class="article-hero__author">
                    <p class="article-hero__author-name">{data.author_name}</p>
                </div>
            </f:if>
        </div>

        <f:if condition="{data.cover_image.0}">
            <div class="article-hero__media">
                <f:image image="{data.cover_image.0}" alt="{data.header}" maxWidth="1200" class="article-hero__image"/>
            </div>
        </f:if>
    </s2f:layout.container>
</s2f:layout.section>

</html>
