<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-callback-request" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="callback-request">
    <s2f:layout.container>
        <s2f:molecule.card class="callback-request__card">
            <f:if condition="{data.header}"><s2f:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</s2f:atom.typography></f:if>
            <f:if condition="{data.description}"><s2f:atom.typography variant="muted">{data -> f:render.text(field: 'description')}</s2f:atom.typography></f:if>
            <form class="callback-request__form" action="{data.form_action.url}" method="post">
                <label class="callback-request__field">
                    <span class="callback-request__label">Name</span>
                    <input class="callback-request__input" type="text" name="name" required="required"/>
                </label>
                <label class="callback-request__field">
                    <span class="callback-request__label">Phone</span>
                    <input class="callback-request__input" type="tel" name="phone" required="required"/>
                </label>
                <s2f:atom.button type="submit">{data.button_text -> f:or(alternative: 'Request callback')}</s2f:atom.button>
            </form>
        </s2f:molecule.card>
    </s2f:layout.container>
</s2f:layout.section>

</html>
