<f:argument name="variant" type="string" optional="{true}" default="default" />
<f:argument name="size" type="string" optional="{true}" default="default" />
<f:argument name="href" type="string" optional="{true}" />
<f:argument name="class" type="string" optional="{true}" default="" />
<f:argument name="disabled" type="bool" optional="{true}" default="{false}" />
<f:argument name="type" type="string" optional="{true}" default="button" />

<f:if condition="{href}">
    <f:then>
        <a href="{href}" class="btn btn--{variant} btn--{size} {class}">
            <f:slot />
        </a>
    </f:then>
    <f:else>
        <button type="{type}" disabled="{disabled}" class="btn btn--{variant} btn--{size} {class}">
            <f:slot />
        </button>
    </f:else>
</f:if>
