<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-audio-player" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="audio-player">
    <s2f:layout.container>
        <s2f:molecule.card class="audio-player__card">
            <div class="audio-player__info">
                <f:if condition="{data.header}">
                    <h3 class="audio-player__title">{data.header}</h3>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="audio-player__description">{data.description}</p>
                </f:if>
            </div>
            <f:if condition="{data.audio_file.0}">
                <audio class="audio-player__audio" controls preload="metadata">
                    <source src="{f:uri.resource(path: data.audio_file.0.originalFile.identifier, extensionName: '')}" type="{data.audio_file.0.mimeType}"/>
                </audio>
            </f:if>
        </s2f:molecule.card>
    </s2f:layout.container>
</s2f:layout.section>

</html>
