<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-how-to-steps" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="how-to-steps" itemscope itemtype="https://schema.org/HowTo">
    <s2f:layout.container>
        <f:if condition="{data.header}">
            <h2 class="typography typography--h2 how-to-steps__headline" itemprop="name">{data.header}</h2>
        </f:if>
        <f:if condition="{data.description}">
            <p class="typography typography--muted how-to-steps__intro" itemprop="description">{data.description}</p>
        </f:if>

        <ol class="how-to-steps__list">
            <f:for each="{data.items}" as="item" iteration="iter">
                <li class="how-to-steps__item" itemscope itemprop="step" itemtype="https://schema.org/HowToStep">
                    <div class="how-to-steps__number" aria-hidden="true">{iter.cycle}</div>
                    <div class="how-to-steps__content">
                        <h3 class="how-to-steps__title" itemprop="name">{item.title}</h3>
                        <f:if condition="{item.content}">
                            <div class="how-to-steps__text" itemprop="text"><f:format.html>{item.content}</f:format.html></div>
                        </f:if>
                        <f:if condition="{item.image.0}">
                            <div class="how-to-steps__media">
                                <f:image image="{item.image.0}" alt="{item.title}" maxWidth="640" class="how-to-steps__image" itemprop="image"/>
                            </div>
                        </f:if>
                    </div>
                </li>
            </f:for>
        </ol>
    </s2f:layout.container>
</s2f:layout.section>

</html>
