<f:argument name="src" type="string" />
<f:argument name="alt" type="string" optional="{true}" default="" />
<f:argument name="width" type="string" optional="{true}" />
<f:argument name="height" type="string" optional="{true}" />
<f:argument name="loading" type="string" optional="{true}" default="lazy" />
<f:argument name="class" type="string" optional="{true}" default="" />
<f:argument name="aspectRatio" type="string" optional="{true}" />

<f:if condition="{aspectRatio}">
    <f:then>
        <div class="relative w-full" style="aspect-ratio: {aspectRatio}">
            <img
                src="{src}"
                alt="{alt}"
                width="{width}"
                height="{height}"
                loading="{loading}"
                class="absolute inset-0 h-full w-full object-cover {class}"
            />
        </div>
    </f:then>
    <f:else>
        <img
            src="{src}"
            alt="{alt}"
            width="{width}"
            height="{height}"
            loading="{loading}"
            class="max-w-full h-auto {class}"
        />
    </f:else>
</f:if>
