<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="s2f-order-summary" href="{cb:assetPath()}/frontend.css"/>

<s2f:layout.section class="order-summary">
    <s2f:layout.container>
        <div class="order-summary__card">
            <f:if condition="{data.header}">
                <h2 class="order-summary__heading">{data -> f:render.text(field: 'header')}</h2>
            </f:if>

            <div class="order-summary__items">
                <f:for each="{data.items}" as="item">
                    <div class="order-summary__line">
                        <div class="order-summary__line-info">
                            <span class="order-summary__line-name">{item -> f:render.text(field: 'name')}</span>
                            <f:if condition="{item.quantity}">
                                <span class="order-summary__line-qty">x{item -> f:render.text(field: 'quantity')}</span>
                            </f:if>
                        </div>
                        <span class="order-summary__line-price">{item -> f:render.text(field: 'price')}</span>
                    </div>
                </f:for>
            </div>

            <div class="order-summary__totals">
                <f:if condition="{data.subtotal}">
                    <div class="order-summary__row">
                        <span>Subtotal</span>
                        <span>{data -> f:render.text(field: 'subtotal')}</span>
                    </div>
                </f:if>
                <f:if condition="{data.discount_label} && {data.discount_value}">
                    <div class="order-summary__row order-summary__row--discount">
                        <span>{data -> f:render.text(field: 'discount_label')}</span>
                        <span>{data -> f:render.text(field: 'discount_value')}</span>
                    </div>
                </f:if>
                <div class="order-summary__row order-summary__row--total">
                    <span>Total</span>
                    <span>{data -> f:render.text(field: 'total')}</span>
                </div>
            </div>

            <f:if condition="{data.button_text} && {data.button_link.url}">
                <f:link.typolink parameter="{data.button_link}" class="order-summary__button">
                    {data -> f:render.text(field: 'button_text')}
                </f:link.typolink>
            </f:if>
        </div>
    </s2f:layout.container>
</s2f:layout.section>
</html>
